@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-col);
}

/* Set the font on the root elements instead of '*' for better performance */
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    /* This makes text look smoother */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
  background: var(--background-col);
}

:root {
  --background-col: #021526;
  --secondary-col: #03346E;
  --primary-col: #3f6c7a;
  --timer-background-col: #6EACDA;
  --text-col: #E2E2B6;

  --progress-bar-width: 400px;
  --progress-bar-height: 400px;
  --font-size: 5rem;
}
