@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-col);
}

/* Set the font on the root elements instead of '*' for better performance */
html,
body {
    font-family: var(--font-family), sans-serif;

    /* This makes text look smoother */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background-col);
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-col) var(--primary-col);
    overflow: hidden;
}

:root {
  --background-col: #021526;
  --secondary-col: #03346E;
  --primary-col: #3f6c7a;
  --timer-background-col: #6EACDA;
  --text-col: #E2E2B6;

  --progress-bar-width: 400px;
  --progress-bar-height: 400px;
    /*Not used idk why*/
  --font-size: 5rem;

  --font-family: Segoe UI;

    }



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


